<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite thread-count="1"  name="NwPassSuitFour" parallel="tests" >
<test name="Opal1">
<parameter name="Node" value="192.168.99.100"/>
<classes><class name="AutomationExModule.AutomationExFeature.AutomationPassScript"/></classes>
</test>
</suite>